<div class="edit-on-github-link">
<hr>
<p >
{# {{page|dump|safe}} #}
	<small><a href="{{site.repo}}/blob/master/{{ page.inputPath }}">Edit this page on GitHub <i class="fab fa-github"></i></a></small>
</p>

</div>