<head>
    <title>
        {{site.title}} - {{title}}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    integrity="sha512-nhsc1ymyruxifcj/kfrwoc561yphpc5jtzgvbuzx5vozkpwvq+4nxhpdfgmx8xqexrcpagltj9sibwinxa8x5w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" defer/>
    <link rel="stylesheet" href="{{ site.baseUrl }}/public/css/style.css" defer>
    <link rel="stylesheet" href="{{site.baseUrl }}/public/css/dark-mode.css" defer>
    <link rel="stylesheet" href="{{site.baseUrl}}/public/css/fontawesome-free-5.15.4-web/css/all.min.css"/>

    <script type="text/javascript" >
        /***********************************************
      * Simple Tree Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
      * Please keep this notice intact
      * Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
      ***********************************************/
    </script>
    {% include 'simpletreemenu/simpletreemenu.njk' %}
    {% include 'simpletreemenu/simpletree.njk' %}

    <!-- Syntax highlight  -->
     <link id="prism-css" href="{{site.baseUrl}}/public/css/prism.css" rel="stylesheet" defer>
    <link rel="shortcut icon" href="{{site.baseUrl }}/public/favicon.ico">
</head>