<head>
    <title>
        {{site.title}} - {{title}}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/style.css" defer>
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/dark-mode.css" defer>
    <script type="text/javascript" src="{{ site.baseurl }}/public/simpletreemenu/simpletreemenu.js">
        /***********************************************
      * Simple Tree Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
      * Please keep this notice intact
      * Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
      ***********************************************/
    </script>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/public/simpletreemenu/simpletree.css"/>

    <!-- Syntax highlight  -->
    <link id="prism-css" href="https://unpkg.com/prismjs@1.20.0/themes/prism.css" rel="stylesheet" defer>
    <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">
</head>