{% set navPages = collections.all | eleventyNavigation %}

{{ navPages | log }}

<nav class="navigation-primary navigation-primary--light stretch-horizontal-M">
  {% macro renderNavListItem(entry, sub) -%}
    {# Some interesting workarounds/conditions here to apply .is-active classes down the tree #}
    {% set isHomepage = entry.url == '/' %}
    {% set isActive = page.url | startsWith(entry.url) %}

    <li
     class="{% if sub %}navigation-primary__sub-item{% else %}navigation-primary__item{% endif %}"
    >
      <a
        {% if entry.url == page.url %}aria-current="page"{% endif %}
        href="{{ entry.url | url }}"
        class="
          {% if sub %}navigation-primary__sub-link{% else %}navigation-primary__link{% endif %}
          {% if isActive and not isHomepage %}is-active{% endif %}
          {% if isHomepage and entry.url == page.url %}is-active{% endif %}
        "
      >
        <span
          class="{% if sub %}navigation-primary__sub-link-text{% else %}navigation-primary__link-text{% endif %}"
        >
          {{ entry.title }}
        </span>
      </a>
      {%- if entry.children.length -%}
        <ul class="navigation-primary__sub-items">
          {%- for child in entry.children %}{{
          renderNavListItem(child, true)
        }}
          {% endfor -%}
      </ul>
    {%- endif -%}
  </li>
{%- endmacro %}

<ul class="navigation-primary__items">
  {%- for entry in navPages %}{{
      renderNavListItem(entry)
    }}
  {%- endfor -%}
</ul>
</nav>