<script>
    // Logic to adjust syntax highlighting based on whether dark mode is on 
    // in the system or not
    const prismEl = document.querySelector('#prism-css');
    const DARK = 'dark';
    const LIGHT = 'light';
    const PRISM_LIGHT_URL = "https://unpkg.com/prismjs@1.20.0/themes/prism.css";
    // https://unpkg.com/browse/prismjs@0.0.1/themes/ coy, dark, funky,okaidia, tomorrow, twilight
    const PRISM_DARK_URL = "https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css"

    function init() {
      const DARK = 'dark';
      const LIGHT = 'light';
      const isSystemDarkMode = matchMedia &&
        matchMedia('(prefers-color-scheme: dark)').matches;

      if (isSystemDarkMode) {
        prismEl.href = PRISM_DARK_URL;
      }

      // Event listener to change with system change
      window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => {
        const changedColourScheme = e.matches ? DARK : LIGHT;
        if (changedColourScheme === DARK) {
          prismEl.href = PRISM_DARK_URL;
        } else {
          prismEl.href = PRISM_LIGHT_URL;
        }
      });
    }

    init();
  </script>