/* Media Queries */

/* Extra small devices (phones, 600px and down) */
.btn-toggle-page-wrapper{
    display: none;
}
.btn-toggle-page-wrapper > button{
    all: unset
}

.main{
    /* width: 100%; */
    display: block;
}



@media only screen and (max-width: 600px) {
    .btn-toggle-page-wrapper{
        display: flex;
        justify-content: flex-end;
        top: 1em;
        right: 2em;
       position: absolute;
    }

    .navigation-primary{
        width: 100%;
    }
    .main{
        /* width: 100%; */
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    /* .wrapper {
        width: 70%;
    } */
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    /* .wrapper {
        width: 60%;
    } */
  
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    /* .wrapper {
        width: 700px;
    } */
}